#beancount>=2.3.5
beangulp>=0.2.0
openpyxl>=3.1.2
pyyaml>=6.0.0
fava-dashboards>=0.1.0
git+https://github.com/beancount/beanprice.git#egg=beanprice
git+https://github.com/PhracturedBlue/fava-portfolio-summary
git+https://github.com/paulsc/fava-edit-replay
fava-portfolio-returns
fava-investor>=1.0.1
yfinance>=0.2.0
smart_importer>=1.2
git+ssh://git@github.com/Gabrielbr95/beancount.git@master